.cards-box {
    border: 1px solid #A1A3ABA1;
}

.cards-left-box {
    border-radius: 14px;
    border: #F5F8FF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.todo-text {
    color: #FF6767;
}

.plus {
    color: #F24E1E;
}

.text-today {
    color: #A1A3AB;
}

.card-party {
    width: 442px;
    height: 200px;
    border: 1px solid #A1A3AB;
    border-radius: 14px;
}

.card-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #F21E1E;
}

.card-party-span {
    width: 5px;
    height: 5px;
    border: 1px solid #A1A3AB;
    border-radius: 50%;
}

.three-circle-box {
    gap: 2px;
}

.card-party-title {
    letter-spacing: 0%;
}

.card-party-text {
    color: #747474;
}

.card-p-b-1 {
    color: blue;
}

.card-p-b-2 {
    color: #F21E1E;
}

.card-p-b-3 {
    color: #A1A3AB;
}

.card-circle1 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #0225FF;
}
.card-p-b-2-2{
    color: #0225FF;
}