.navigation {
    background-color: #FF6767;
    border-radius: 0px 8px 8px 0px;
    
}

.dash-box3,
.v-task-box3,
.my-task-box,
.setting-box, 
.logout-box {
    width: 288px;
    height: 59px;
    border-radius: 14px;
    color: #fff;
    cursor: pointer;
}

.dash-box3:hover{
    background-color: rgba(255, 255, 255, 0.474);
    transition: 0.8s;
}

.v-task-box3:hover{
    background-color: rgba(255, 255, 255, 0.474);
    transition: 0.8s;
}